button {
  	background-color: #4CAF50; /* Green */
  	border: none;
  	color: white;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	margin: 4px 2px;
  	cursor: pointer;
}

body {
	font-family: 'Avenir';
	font-weight: bold;
  	margin: 20px;
  	display: inline-block;
  	text-align: center;
}